@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

body {
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: rgb(221, 220, 220);
}

label, input[text], button {
    margin-top: 5px;
}